section {
	margin: 50px 0;
}

section:first-child {
	padding-top: 0;
}

h1 {
	text-align: center;
}

p {
	font-size: 0.9em;
}

a:hover {
	opacity: 0.7;
}

header {
	width: 100%;
	background-color: #000;
	color: #fff;
	padding: 20px 0;
	box-shadow: 0px 5px 17px rgba(0,0,0,0.6);
}

header a {
	position: absolute;
	right: 30px;
	top: 30px;
}

footer {
	width: 100%;
	background-color: #000;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	box-shadow: 0px -5px 17px rgba(0,0,0,0.6);
	margin-top: 50px;
}

header h1 {
	margin: 0;
}

#container {
	width: 50%;
	margin: 50px auto;
}

.slider-3 ul.vinmain li {
	width: 19.8%;
}

.vinslider ul.vinmain li img {
	display: none;
}

.vinslider ul.vinmain li {
	background-size: cover;
	background-position: center;
}