.vinslider {
  position: relative;
}

.vinslider ul.main {
  overflow: hidden;
  position: relative;
  z-index: 0;
  height: 500px;
}

.vinslider ul.main li {
  text-align: center;
  overflow: hidden;
  height: 100%;
  padding: 0;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;

  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.vinslider ul.main li img {
    width: 100%;
}

.vinslider ul.main li.active {
  opacity: 1;
  left: 0 !important;
}

.vinslider ul.bullet {
  text-align: center;
  width: 100%;
  z-index: 1;
  margin: 20px 0;
}

.vinslider ul.bullet li {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  padding: 0 !important;
  cursor: pointer;

  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.vinslider ul.bullet li.active {
  background-color: #000;
}

.vinslider ul.controller {
  position: absolute;
  top: 40%;
  left: -5%;
  width: 110%;
  z-index: 1;
}
.vinslider ul.controller:after {
  content: '';
  display: block;
  clear: both;
}
.vinslider ul.controller li {
  display: inline-block;
  cursor: pointer;
}
.vinslider ul.controller li:hover {
  opacity: 0.6;
}
.vinslider ul.controller li:after {
  font-family: "font-icon";
  font-size: 30px;
  color: #000;
}
.vinslider ul.controller li:first-child {
  float: left;
}
.vinslider ul.controller li:first-child:after {
  content: "<";
}
.vinslider ul.controller li:last-child {
  float: right;
}
.vinslider ul.controller li:last-child:after {
  content: ">";
}
.vinslider ul li {
  list-style: none;
}