body {
	max-width: 80%;
	margin: 0 auto;
	background-color: rgb(240,240,240);
}

.vinslider {
	width: 50%;
	float: left;
	padding: 20px;
}

.vinmain {
	height: 150px;
}

.vinmain li {
    background-color: lightgray;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    color: gray;
    line-height: 150px;
}

.vinmain li:nth-child(even) {
    background-color: lightblue;
}