/***************************************************  
    GENERAL
***************************************************/
.vinslider {
    position: relative;
}
.vinslider ul li {
    list-style: none;
}
/***************************************************  
    vinmain
***************************************************/
.vinslider .vinmain {
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: 300px;
}
.vinslider .vinmain li {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
}
.vinslider .vinmain li img {
    width: 100%;
}
.vinslider .vinmain li.vinactive {
    opacity: 1;
    left: 0 !important;
}
/***************************************************  
    PAGER
***************************************************/
.vinslider .vinpager {
    z-index: 9;
}

.vinslider .vinpager ul {
    text-align: center;
    padding: 10px;
}

.vinslider .vinpager ul li {
    width: 15px;
    height: 15px;
    margin: 0 8px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000;
    transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
}
.vinslider .vinpager ul li.vinactive {
    background-color: #000;
}
/***************************************************  
    vinCONTROLLER
***************************************************/
.vinslider .vincontroller {
    z-index: 9;
    width: 100%;
}
.vinslider .vincontroller ul {
    width: 100%;
}
.vinslider .vincontroller ul:after {
    content: '';
    display: block;
    clear: both;
}
.vinslider .vincontroller ul li {
    display: inline-block;
    cursor: pointer;
    height: 100%;
}
.vinslider .vincontroller ul li:after {
    font-size: 30px;
}
.vinslider .vincontroller ul li:first-child {
    float: left;
}
.vinslider .vincontroller ul li:first-child:after {
    content: "<";
}
.vinslider .vincontroller ul li:last-child {
    float: right;
}
.vinslider .vincontroller ul li:last-child:after {
    content: ">";
}