h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    margin-top: 1.75em;
    margin-bottom: 0.75em;
    text-align: center;
    text-transform: capitalize;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.3em;
    opacity: 0.5;
}

a {
    background-color: #fff;
    border-radius: 10px;
    padding: 8px 12px;
    border: 1px solid rgb(220,220,220);
    text-transform: capitalize;
    color: gray;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    font-size: 1.5em;
    display: inline-block;
}

a:hover {
    background-color: rgb(150,150,150);
    border: 1px solid rgb(150,150,150);
    color: white;
}

article p {
    margin-bottom: 1em;
}

ul, p {
    font-size: 1.3em;
    line-height: 1.6;
}

h2 span {
    border-bottom: 6px solid #ffecab;
}

pre {
    word-wrap: normal;
    white-space: pre;
}

code {
    background-color: rgb(245,245,245);
    padding: 20px 40px;
    display: block;
    margin-top: 1em;
    margin-bottom: 2.5em;
    font-size: 1em;
    text-align: left;
    border-radius: 10px;
}

header {
    border-bottom: 6px solid #ffecab;
    overflow: hidden;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 30px;
}
header h1 {
    margin-top: 0;
}
footer {
    background-color: #ffecab;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    margin-top: 60px;
    font-size: 0.8em;
}

.fork {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9;
    font-size: 0.8em;
}

.back {
    position: fixed;
    left: 15px;
    bottom: 15px;
    z-index: 9;
    font-size: 0.8em;
}

.wrapper {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.vinslider {
    width: 48%;
    float: left;
    margin: 20px 1%;
}
.vinslider h4 {
    text-align: center;
}
.vinmain {
    height: 150px;
}
.vinmain * {
    margin: 0;
    padding: 0;
}
.vinmain li {
    background-color: rgb(220,220,220);
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    line-height: 150px;
}
.vinmain li:nth-child(even) {
    background-color: #ffecab;
}
.vinslider {
    position: relative;
}
.vinpager {
    text-align: center;
}
.vinpager li {
    margin: 5px;
    height: 10px;
    width: 10px;
    border: none;
    background-color: rgb(220,220,220);
}
.vinpager li:hover {
    background-color: gray; 
}
.vinpager li.vinactive {
    background-color: #ffecab;
    border: 1px solid rgb(200,200,200);
}
.vincontroller {
    position: absolute;
    left: 3%;
    top: 100px;
    width: 94%;
}
.vincontroller ul:after {
    content: "";
    display: block;
    clear: both;
}
.vincontroller li:after {
    color: rgb(180,180,180);
    font-size: 18px;
}
.vincontroller li:first-child {
    float: left;
}
.vincontroller li:last-child {
    float: right;
}

@media screen and (max-width: 770) {

}